* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('шрифти/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

h2 {
    margin: 35px;
}

body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a23;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center; /* центрує текст */
    background-color: #1c1c3d;
    padding: 10px 20px;
}

.logo {
    height: 200px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #28285e;
    transform: scale(1.05);
}

main {
    padding: 20px;
    text-align: center;
}
.ship-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #141438;
    border-radius: 10px;
}

.ship-info img {
    max-width: 350px;
    border-radius: 10px;
}

.ship-status {
    background-color: #4a47a3;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(107, 120, 225, 0.3);
}

.ship-status p {
    margin: 8px 0;
    font-size: 16px;
}

.status-bar {
    height: 15px;
    background-color: #28285e;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden; /* щоб заокруглені кути працювали */
}

.status-fill {
    height: 100%;
    background-color: #4a9e47;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px; /* додаємо заокруглення */
}

section {
    margin-bottom: 20px;
}

/* Стилізація кнопок */
.expedition-buttons {
    display: flex;
    flex-direction: column; /* Розташування кнопок в стовпчик */
    align-items: center; /* Центруємо кнопки по горизонталі */
    margin-top: 15px;
    
}

.expedition-btn {
    background-color: #4a47a3;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    margin-bottom: 15px; /* Відступ між кнопками */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(107, 120, 225, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.expedition-btn:hover {
    background-color: #3734a9;
    transform: scale(1.05);
}

footer {
    background-color: #1c1c3d;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.copyrights {
    margin-top: 20px;
    font-size: 13px;
}
