.mission-description {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 19px;
    color: #fff;
    background: rgba(107, 120, 225, 0.3);
    padding: 20px 50px;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.mission-btn {
    display: block;
    margin: 35px auto;
    margin-bottom: 45px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #6b78e1, #505acb);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(107, 120, 225, 0.3);
}

.mission-btn:hover {
    background: linear-gradient(135deg, #505acb, #3b4bbf);
    transform: scale(1.05);
}

.mission-select {
    display: block;
    width: 280px;
    margin: 10px auto;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #6b78e1;
    border-radius: 8px;
    background-color: #f5f5f5;
    font-family: 'Montserrat', Arial, sans-serif;
    transition: 0.3s ease;
}

.mission-select:focus {
    border-color: #505acb;
    box-shadow: 0 0 8px rgba(107, 120, 225, 0.5);
    outline: none;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    margin: 25px auto;
    padding: 20px;
    background-color: #1c1c3d;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(107, 120, 225, 0.3);
}

.comment-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 2px solid #6b78e1;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.comment-form input:focus {
    border-color: #505acb;
    box-shadow: 0 0 8px rgba(107, 120, 225, 0.5);
    outline: none;
}

.comment-form button {
    padding: 10px 18px;
    border: none;
    background: linear-gradient(135deg, #6b78e1, #505acb);
    color: white;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(107, 120, 225, 0.3);
}

.comment-form button:hover {
    background: linear-gradient(135deg, #505acb, #3b4bbf);
    transform: scale(1.05);
}

.comment-list {
    width: 340px;
    margin: 20px auto;
    padding: 15px;
    background-color: #10102a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    color: white;
}

.comment-list div {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.comment-list div:last-child {
    border-bottom: none;
}

.comment-list strong {
    color: #6b78e1;
}

.mission-details {
    margin-top: 20px;
    padding: 15px;
    background-color: #1c1c3d;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
